
body {
  /*font-family: monospace;*/
  font-family: monaco ;
  background-color: #fff;
  margin: 0 50px 50px 50px;
}

#menu {

}

.menu-link {
  display: inline;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  font-size: 17px;
}

li:nth-child(even) > a {
  color: red;
}

li:nth-child(odd) > a {
  color: green;
}

.link {
  font-size: 16px;
}

.section-heading {
  margin: 50px 0 10px 20px;
}

#footer-menu-link {
  text-align: center;
  margin-top: 50px;
}
