
<nav id="menu">
  <ul>
    <li class="menu-link"><a href="#ember">Ember</a></li>
    <li class="menu-link"><a href="#html-css">html</a></li>
  </ul>
</nav>

<!-- {{outlet}} -->

<h3 id="js" class="section-heading">JAVASCRIPT (mostly vanilla)</h3>

<div>
  <a href="https://medium.com/javascript-scene/common-misconceptions-about-inheritance-in-javascript-d5d9bab29b0a#.1p2kazift">Common misconceptions about inheritance in JS - Eric Elliot</a>
  <span>...a good description of differences.</span>
</div>
<div>
  <a href="https://medium.com/javascript-scene/the-heart-soul-of-prototypal-oo-concatenative-inheritance-a3b64cb27819#.v4uozmef7">Heart and soul of prototypal OO concatenative inheritance - Eric Elliot</a>
</div>
<div>
  <a href="http://thejsguy.com/2016/07/30/javascript-for-loop-vs-array-foreach.html">For loop vs. array foreach - The JS Guy</a>
</div>
<div>
  <a href="https://medium.com/javascript-scene/master-the-javascript-interview-what-s-the-difference-between-class-prototypal-inheritance-e4cd0a7562e9#.hhpslkvyp">Diff btwn classical and proto inheritance</a>
</div>
<div>
  <a href="https://medium.com/javascript-scene/10-interview-questions-every-javascript-developer-should-know-6fa6bdf5ad95#.x3b1573q0">10 js interview ques</a>
</div>
<div>
  <a href="https://journeyintojavascript.quora.com/understanding-this-once-and-for-all">this</a>
</div>
<div>
  <a href="https://spin.atomicobject.com/2014/10/20/javascript-scope-closures/">closures</a>
</div>

<div>
  <a href="http://pierrespring.com/2010/05/11/function-scope-and-lexical-scoping/">function and lexical scoping</a>
</div>
<div>
  <a href="http://exploringjs.com/es6/ch_modules.html">modules</a>
</div>
<div>
  <a href="https://strongloop.com/strongblog/an-introduction-to-javascript-es6-modules/?utm_content=buffer65417&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer">intro to es6 modules</a>
</div>
<div>
  <a href="https://ponyfoo.com/articles/es6">es6 in 350 bullet points</a>
</div>
<div>
  <a href="https://medium.freecodecamp.com/javascript-closures-explained-by-mailing-a-package-4f23e9885039#.17hxascu6">closures explained</a>
</div>
<div>
  <a href="http://aspiringcraftsman.com/2011/12/08/solid-javascript-single-responsibility-principle/">solid, single responsibility principle</a>
</div>
<div>
  <a href="http://www.nathanhammond.com/route-recognizer">route recognizer</a>
</div>

<h3 id="ember" class="section-heading">EMBER</h3>


<div>
  <a href="http://emberigniter.com/5-essential-ember-2.0-concepts/">5 essential ember concepts</a>
</div>
<div>
  <a href="https://emberigniter.com/modern-bridge-ember-and-rails-5-with-json-api/">Ember hooked to Rails 5 API example</a>
</div>
<div>
  <a href="https://www.twilio.com/blog/2015/08/getting-started-with-ember-js-2-0-using-ember-cli.html">Getting started with Ember 2.0</a>
</div>
<div>
  <a href="http://emberigniter.com/">Ember Igniter - various great ember articles/tutorials</a>
</div>
<div>
  <a href="https://ember-twiddle.com/">Online Ember play area</a>
</div>
<div>
  <a href="https://blog.embermap.com/my-ember-js-tdd-workflow-47847c6dbdfa#.o8phg6ugd">Ember TDD workflow</a>
</div>
<div>
  <a href="http://balinterdi.com/">Posts from guy who wrote RnR with Ember JS</a>
</div>
<div>
  <a href="https://ember-cli.com/api/">Ember cli</a>
</div>
<div>
  <a href="https://leanpub.com/ember-cli-101/read#leanpub-auto-why-ember">Ember 101 (ebook)</a>
</div>
<div>
  <a href="https://medium.com/@ruslanzavacky/ember-cli-fingerprinting-and-dynamic-assets-797a298d8dc6#.5t76lweh5">Fingerprinting dynamic assets</a>
</div>
<div>
  <a href="https://madhatted.com/2013/6/8/lifecycle-hooks-in-ember-js-views">Lifecycle hooks vs. views</a>
</div>
<div>
  <a href="https://mariogintili.svbtle.com/acceptance-testing-ember-cli">Acceptance test example</a>
</div>
<div>
  <a href="https://www.mutuallyhuman.com/blog/2016/08/12/an-ember-debugging-flowchart?utm_source=Ember+Weekly&utm_campaign=365b3cb3ef-Ember_Weekly_Issue_172&utm_medium=email&utm_term=0_e96229d21d-365b3cb3ef-106363253">Ember debugging flowchart</a>
</div>
<div>
  <a href="https://blog.embermap.com/good-ember-developer-bad-ember-developer-7f9d52c6a0b5#.t2p2xemek">Good ember dev vs. bad ember dev</a>
</div>
<div>
  <a href="http://www.nathanhammond.com/route-recognizer">Route recognizer</a>
</div>
<div>
  <a href="https://dockyard.com/blog/2016/09/14/understanding-ember-s-resolver">Understanding the ember resolver (Dockyard)</a>
</div>
<div>
  <a href="https://blog.embermap.com/passing-data-around-your-ember-application-c4fe1e06e90#.jmul0ih8k">Passing data around an ember app</a>
</div>
<div>
  <a href="https://github.com/DockYard/ember-composable-helpers#compute">Composable helpers (Dockyard)</a>
  (NOTE: DOCKYARD HAVE GOOD EMBER RESOURCES!)
</div>


<h3 id="react" class="section-heading">REACT</h3>

<div>
  <a href="http://www.letscodejavascript.com/v3/blog/2014/09/react_review">react review</a>
</div>
<div>
  <a href="https://medium.com/@rluck419/an-introduction-to-react-7bfed3318137#.fp2lkhuzh">intro to react</a>
</div>
<div>
  <a href="https://github.com/facebookincubator/create-react-app">facebook incubator create react app</a>
</div>
<div>
  <a href="http://d6u.github.io/react-container-query/">react container queries</a>
</div>
<div>
  <a href="https://medium.com/@mlthuret/building-a-react-components-living-documentation-using-react-storybook-5f11f0e7d23e#.6sekteq68">building react components using react storybook</a>
</div>
<div>
  <a href="https://medium.com/@GaborSar/m-3d6572ff2ed#.3qpd6p6rs">Redux with React Router</a>
</div>

<h3 id="node" class="section-heading">Node/NPM</h3>

<div>
  <a href="https://nodesource.com/blog/eleven-npm-tricks-that-will-knock-your-wombat-socks-off/">11 npm tricks</a>
</div>
<div>
  <a href="http://www.c-sharpcorner.com/article/top-50-node-js-interview-questions-and-answers/?utm_content=buffer67ab3&utm_medium=social&utm_source=linkedin.com&utm_campaign=buffer">50 node interview ques</a>
</div>

<h3 id="coding" class="section-heading">GENERAL CODING</h3>

<div>
  <a href="http://martinfowler.com/bliki/PageObject.html">Testing the PageObject</a>
</div>
<div>
  <a href="https://vimeo.com/85490944">Spotify engineering culture</a>
  (the below is a great full stack overview article, not just rails vs node!)
</div>
<div>
  <a href="http://blog.thefirehoseproject.com/posts/nodejs-vs-rails/?utm_source=quora&utm_medium=quora_ken_answers&utm_campaign=quora_answers">FS article and Rails vs. Node</a>
</div>
<div>
  <a href="https://medium.com/@kenmazaika/29-behaviors-that-will-make-you-an-unstoppable-programmer-8778941d80f7#.3ltsbf6sj">29 developer behaviours</a>
</div>
<div>
  <a href="https://medium.com/@cscalfani/goodbye-object-oriented-programming-a59cda4c0e53#.6285znait">Goodbye, Object Oriented Programming</a>
</div>

<h3 id="angular" class="section-heading">ANGULAR</h3>

<div>
  <a href="http://code.tutsplus.com/tutorials/creating-a-web-app-from-scratch-using-angularjs-and-firebase--cms-22391">Angular and Firebase tutorial</a>
</div>
<div>
  <a href="http://sahatyalkabov.com/build-an-instagram-clone-using-angularjs-satellizer-nodejs-and-mongodb/">Buiuld an instargram clone using angular tutorial</a>
</div>

<h3 id="front-end" class="section-heading">GENERAL FRONT END</h3>

<div>
  <a href="https://addyosmani.com/">Addy Osmani - various articles and books</a>
</div>
<div>
  <a href="http://creative-punch.net/2014/03/tools-modern-front-end-workflow-yeoman-grunt-bower/?utm_content=buffer5d9cc&utm_medium=social&utm_source=linkedin.com&utm_campaign=buffer">Modern FE dev tools (grunt, yoeman etc)</a>
</div>
<div>
  <a href="http://up-for-grabs.net/#/">List of open source projects toget nvolved in</a>
</div>

<h3 id="oauth" class="section-heading">OAUTH</h3>

<div>
  <a href="https://hueniverse.com/oauth/guide/intro/">oauth guide</a>
</div>
<div>
  <a href="https://tools.ietf.org/html/rfc6749#section-4.3">oauth 2.0</a>
</div>

<h3 id="html-css" class="section-heading">HTML/CSS</h3>

<div>
  <a href="https://medium.com/re-dom/master-the-dom-bc1a2a06089b#.k2tiez6g6">Master the DOM</a>
</div>

<footer id="footer-menu-link">
  <a href="#menu">Back to menu</a>
</footer>
