
<nav id="menu">
  <ul>
    <li class="menu-link"><a href="#js">JS</a></li>
    <li class="menu-link"><a href="#react">React</a></li>
    <li class="menu-link"><a href="#ember">Ember</a></li>
    <li class="menu-link"><a href="#angular">Angular</a></li>
    <li class="menu-link"><a href="#node">Node</a></li>
    <li class="menu-link"><a href="#html-css">HTML/CSS</a></li>
    <li class="menu-link"><a href="#front-end">General FE</a></li>
    <li class="menu-link"><a href="#coding">General coding</a></li>
    <li class="menu-link"><a href="#oauth">OAuth</a></li>
    <li class="menu-link"><a href="#videos">Videos</a></li>
    <li class="menu-link"><a href="#podcasts">Podcasts</a></li>
  </ul>
</nav>

<!-- {{outlet}} -->

<div class="links">
  <h3 id="js" class="section-heading">Javascript</h3>
  <div>
    <a href="https://medium.com/javascript-scene/common-misconceptions-about-inheritance-in-javascript-d5d9bab29b0a#.1p2kazift">Common misconceptions about inheritance in JS</a>
  </div>
  <div>
    <a href="https://medium.com/javascript-scene/the-heart-soul-of-prototypal-oo-concatenative-inheritance-a3b64cb27819#.v4uozmef7">Heart and soul of prototypal OO concatenative inheritance</a>
  </div>
  <div>
    <a href="http://thejsguy.com/2016/07/30/javascript-for-loop-vs-array-foreach.html">For loop vs. array foreach - The JS Guy</a>
  </div>
  <div>
    <a href="https://medium.com/javascript-scene/master-the-javascript-interview-what-s-the-difference-between-class-prototypal-inheritance-e4cd0a7562e9#.hhpslkvyp">Difference between classical and prototypal inheritance</a>
  </div>
  <div>
    <a href="https://medium.com/javascript-scene/10-interview-questions-every-javascript-developer-should-know-6fa6bdf5ad95#.x3b1573q0">10 JS interview questions</a>
  </div>
  <div>
    <a href="https://journeyintojavascript.quora.com/understanding-this-once-and-for-all">Understanding 'this' once and for all</a>
  </div>
  <div>
    <a href="https://spin.atomicobject.com/2014/10/20/javascript-scope-closures/">Closures</a>
  </div>

  <div>
    <a href="http://pierrespring.com/2010/05/11/function-scope-and-lexical-scoping/">Function and lexical scoping</a>
  </div>
  <div>
    <a href="http://exploringjs.com/es6/ch_modules.html">Modules</a>
  </div>
  <div>
    <a href="https://strongloop.com/strongblog/an-introduction-to-javascript-es6-modules/?utm_content=buffer65417&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer">Intro to es6 modules</a>
  </div>
  <div>
    <a href="https://ponyfoo.com/articles/es6">ES6 in 350 bullet points</a>
  </div>
  <div>
    <a href="https://medium.freecodecamp.com/javascript-closures-explained-by-mailing-a-package-4f23e9885039#.17hxascu6">Closures explained</a>
  </div>
  <div>
    <a href="http://aspiringcraftsman.com/2011/12/08/solid-javascript-single-responsibility-principle/">Solid, single responsibility principle</a>
  </div>
  <div>
    <a href="http://www.nathanhammond.com/route-recognizer">Route recognizer</a>
  </div>
  <div>
    <a href="https://github.com/getify/You-Dont-Know-JS">You dont know JS (ebooks)</a>
  </div>
  <div>
    <a href="http://www.mattgreer.org/articles/promises-in-wicked-detail/">JavaScript Promises ... In wicked detail</a>
  </div>

  <h3 id="react" class="section-heading">React</h3>
  <div>
    <a href="http://www.letscodejavascript.com/v3/blog/2014/09/react_review">React review</a>
  </div>
  <div>
    <a href="https://medium.com/@rluck419/an-introduction-to-react-7bfed3318137#.fp2lkhuzh">Intro to react</a>
  </div>
  <div>
    <a href="http://d6u.github.io/react-container-query/">React container queries</a>
  </div>
  <div>
    <a href="https://medium.com/@mlthuret/building-a-react-components-living-documentation-using-react-storybook-5f11f0e7d23e#.6sekteq68">Building react components using react storybook</a>
  </div>
  <div>
    <a href="https://medium.com/@GaborSar/m-3d6572ff2ed#.3qpd6p6rs">Redux with React Router</a>
  </div>
  <div>
    <a href="https://camjackson.net/post/9-things-every-reactjs-beginner-should-know">9 things every React beginner should know</a>
  </div>
  <div>
    <a href="http://blog.andrewray.me/the-reactjs-controller-view-pattern/">React Controller view pattern</a>
  </div>
  <div>
    <a href="https://medium.com/@dan_abramov/youre-missing-the-point-of-react-a20e34a51e1a#.ex0kk84u2">You're missing the point of React</a>
  </div>

  <h3 id="ember" class="section-heading">Ember</h3>
  <div>
    <a href="http://emberigniter.com/5-essential-ember-2.0-concepts/">5 essential ember concepts</a>
  </div>
  <div>
    <a href="http://balinterdi.com/2016/10/05/refactoring-promise-patterns.html?utm_source=Ember+Weekly&utm_campaign=a630aa01fe-Ember_Weekly_Issue_178&utm_medium=email&utm_term=0_e96229d21d-a630aa01fe-106363253">Promises refactoring</a>
  </div>
  <div>
    <a href="https://emberigniter.com/modern-bridge-ember-and-rails-5-with-json-api/">Ember hooked to Rails 5 API example</a>
  </div>
  <div>
    <a href="https://www.twilio.com/blog/2015/08/getting-started-with-ember-js-2-0-using-ember-cli.html">Getting started with Ember 2.0</a>
  </div>
  <div>
    <a href="http://emberigniter.com/">Ember Igniter - various great ember articles/tutorials</a>
  </div>
  <div>
    <a href="https://ember-twiddle.com/">Online Ember play area</a>
  </div>
  <div>
    <a href="https://blog.embermap.com/my-ember-js-tdd-workflow-47847c6dbdfa#.o8phg6ugd">Ember TDD workflow</a>
  </div>
  <div>
    <a href="http://balinterdi.com/">Posts from guy who wrote RnR with Ember JS</a>
  </div>
  <div>
    <a href="https://ember-cli.com/api/">Ember cli</a>
  </div>
  <div>
    <a href="https://leanpub.com/ember-cli-101/read#leanpub-auto-why-ember">Ember 101 (ebook)</a>
  </div>
  <div>
    <a href="https://medium.com/@ruslanzavacky/ember-cli-fingerprinting-and-dynamic-assets-797a298d8dc6#.5t76lweh5">Fingerprinting dynamic assets</a>
  </div>
  <div>
    <a href="https://madhatted.com/2013/6/8/lifecycle-hooks-in-ember-js-views">Lifecycle hooks vs. views</a>
  </div>
  <div>
    <a href="https://mariogintili.svbtle.com/acceptance-testing-ember-cli">Ember acceptance test example</a>
  </div>
  <div>
    <a href="https://www.mutuallyhuman.com/blog/2016/08/12/an-ember-debugging-flowchart?utm_source=Ember+Weekly&utm_campaign=365b3cb3ef-Ember_Weekly_Issue_172&utm_medium=email&utm_term=0_e96229d21d-365b3cb3ef-106363253">Ember debugging flowchart</a>
  </div>
  <div>
    <a href="https://blog.embermap.com/good-ember-developer-bad-ember-developer-7f9d52c6a0b5#.t2p2xemek">Good ember dev, bad ember dev</a>
  </div>
  <div>
    <a href="https://dockyard.com/blog/2016/09/14/understanding-ember-s-resolver">Understanding the ember resolver</a>
  </div>
  <div>
    <a href="https://blog.embermap.com/passing-data-around-your-ember-application-c4fe1e06e90#.jmul0ih8k">Passing data around an ember app</a>
  </div>
  <div>
    <a href="https://github.com/DockYard/ember-composable-helpers#compute">Composable helpers</a>
  </div>
  <div>
    <a href="https://spin.atomicobject.com/2016/10/14/ember-js-dom-dependencies/">Components with DOM dependencies</a>
  </div>
  <div>
    <a href="http://forspareparts.github.io/2016/01/24/actions-up-data-sideways/">Actions up, data ...sideways!</a>
  </div>
  <div>
    <a href="https://tsubik.com/blog/make-your-emberjs-web-app-more-progressive-part-1/?utm_source=Ember+Weekly&utm_campaign=8fdc23710c-Ember_Weekly_Issue_183&utm_medium=email&utm_term=0_e96229d21d-8fdc23710c-106363253">Make your Ember.js web app more progressive - part 1</a>
  </div>
  <div>
    <a href="https://github.com/mixonic/ember-cli-deprecation-workflow">Ember cli deprecation workflow</a>
  </div>


  <h3 id="angular" class="section-heading">Angular</h3>
  <div>
    <a href="http://code.tutsplus.com/tutorials/creating-a-web-app-from-scratch-using-angularjs-and-firebase--cms-22391">Angular and Firebase tutorial</a>
  </div>
  <div>
    <a href="http://sahatyalkabov.com/build-an-instagram-clone-using-angularjs-satellizer-nodejs-and-mongodb/">Build an instagram clone using angular tutorial</a>
  </div>

  <h3 id="node" class="section-heading">Node/NPM</h3>
  <div>
    <a href="https://nodesource.com/blog/eleven-npm-tricks-that-will-knock-your-wombat-socks-off/">11 npm tricks</a>
  </div>
  <div>
    <a href="http://www.c-sharpcorner.com/article/top-50-node-js-interview-questions-and-answers/?utm_content=buffer67ab3&utm_medium=social&utm_source=linkedin.com&utm_campaign=buffer">50 node interview questions</a>
  </div>

  <h3 id="html-css" class="section-heading">HTML/CSS</h3>
  <div>
    <a href="https://medium.com/re-dom/master-the-dom-bc1a2a06089b#.k2tiez6g6">Master the DOM</a>
  </div>

  <h3 id="front-end" class="section-heading">General FE</h3>
  <div>
    <a href="https://addyosmani.com/">Addy Osmani - various articles and books</a>
  </div>
  <div>
    <a href="http://creative-punch.net/2014/03/tools-modern-front-end-workflow-yeoman-grunt-bower/?utm_content=buffer5d9cc&utm_medium=social&utm_source=linkedin.com&utm_campaign=buffer">Modern FE dev tools (grunt, yoeman etc)</a>
  </div>

  <h3 id="coding" class="section-heading">General Coding</h3>
  <div>
    <a href="http://martinfowler.com/bliki/PageObject.html">Testing the Page Object</a>
  </div>
  <div>
    <a href="https://vimeo.com/85490944">Spotify engineering culture</a>
  </div>
  <div>
    <a href="http://blog.thefirehoseproject.com/posts/nodejs-vs-rails/?utm_source=quora&utm_medium=quora_ken_answers&utm_campaign=quora_answers">Full Stack article and Rails vs. Node</a>
  </div>
  <div>
    <a href="https://medium.com/@kenmazaika/29-behaviors-that-will-make-you-an-unstoppable-programmer-8778941d80f7#.3ltsbf6sj">29 developer behaviours</a>
  </div>
  <div>
    <a href="https://medium.com/@cscalfani/goodbye-object-oriented-programming-a59cda4c0e53#.6285znait">Goodbye, Object Oriented Programming</a>
  </div>
  <div>
    <a href="http://yehudakatz.com/2013/05/24/an-extensible-approach-to-browser-security-policy/">An Extensible Approach to Browser Security Policy (CSP)</a>
  </div>
  <div>
    <a href="https://www.sequoiacap.com/article/build-us-microservices/">Microservices</a>
  </div>

  <h3 id="oauth" class="section-heading">OAuth</h3>
  <div>
    <a href="https://hueniverse.com/oauth/guide/intro/">OAuth guide</a>
  </div>
  <div>
    <a href="https://tools.ietf.org/html/rfc6749#section-4.3">OAuth 2.0</a>
  </div>

  <h3 id="videos" class="section-heading">Youtube/Videos/Screencasts</h3>
  <div>
    <a href="">FunFunFunction</a>
  </div>

  <h3 id="podcasts" class="section-heading">Podcasts</h3>
  <div>
    <a href="https://devchat.tv/">Devchat.tv</a>
  </div>
</div>

<footer id="footer-menu-link">
  <a href="#menu">Back to menu</a>
</footer>
