<!-- COMMENTED OUT IN MASTER BRANCH TO GET BASIC LINKS LIVE ASAP
{{#each model as |resource|}}
  <div>
    <a href="{{resource.href}}">{{resource.title}}</a>
    <p>{{resource.description}}</p>
  </div>
{{/each}} -->
