
{{#each model as |resource|}}
  <div>
    <a href="{{resource.href}}">{{resource.title}}</a>
    <p>{{resource.description}}</p>
  </div>
{{/each}}


<h4>JAVASCRIPT (Vanilla)</h4>

<p>
  <a href="https://medium.com/javascript-scene/common-misconceptions-about-inheritance-in-javascript-d5d9bab29b0a#.1p2kazift">Common misconceptions about inheritance in JS - Eric Elliot</a>
  <span>...a good description of differences.</span>
  <a href="https://medium.com/javascript-scene/the-heart-soul-of-prototypal-oo-concatenative-inheritance-a3b64cb27819#.v4uozmef7">Heart and soul of prototypal OO concatenative inheritance - Eric Elliot</a>
  <a href="http://thejsguy.com/2016/07/30/javascript-for-loop-vs-array-foreach.html">For loop vs. array foreach - The JS Guy</a>
  <a href="https://medium.com/javascript-scene/master-the-javascript-interview-what-s-the-difference-between-class-prototypal-inheritance-e4cd0a7562e9#.hhpslkvyp">Diff btwn classical and proto inheritance</a>
  <a href="https://medium.com/javascript-scene/10-interview-questions-every-javascript-developer-should-know-6fa6bdf5ad95#.x3b1573q0">10 js interview ques</a>
  <a href="https://journeyintojavascript.quora.com/understanding-this-once-and-for-all">this</a>
  <a href="https://spin.atomicobject.com/2014/10/20/javascript-scope-closures/">closures</a>

  <a href="http://pierrespring.com/2010/05/11/function-scope-and-lexical-scoping/">function and lexical scoping</a>
  <a href="http://exploringjs.com/es6/ch_modules.html">modules</a>
  <a href="https://strongloop.com/strongblog/an-introduction-to-javascript-es6-modules/?utm_content=buffer65417&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer">intro to es6 modules</a>
  <a href="https://ponyfoo.com/articles/es6">es6 in 350 bullet points</a>
  <a href="https://medium.freecodecamp.com/javascript-closures-explained-by-mailing-a-package-4f23e9885039#.17hxascu6">closures explained</a>
  <a href="http://aspiringcraftsman.com/2011/12/08/solid-javascript-single-responsibility-principle/">solid, single responsibility principle</a>
  <a href="http://www.nathanhammond.com/route-recognizer">route recognizer</a>
</p>

<h4>REACT</h4>

<p>
  <a href="http://www.letscodejavascript.com/v3/blog/2014/09/react_review">react review</a>
  <a href="https://medium.com/@rluck419/an-introduction-to-react-7bfed3318137#.fp2lkhuzh">intro to react</a>
  <a href="https://github.com/facebookincubator/create-react-app">facebook incubator create react app</a>
  <a href="http://d6u.github.io/react-container-query/">react container queries</a>
  <a href="https://medium.com/@mlthuret/building-a-react-components-living-documentation-using-react-storybook-5f11f0e7d23e#.6sekteq68">building react components using react storybook</a>
  <a href="https://medium.com/@GaborSar/m-3d6572ff2ed#.3qpd6p6rs">Redux with React Router</a>
</p>

<h4>Node/NPM</h4>

<p>
  <a href="https://nodesource.com/blog/eleven-npm-tricks-that-will-knock-your-wombat-socks-off/">11 npm tricks</a>
  <a href="http://www.c-sharpcorner.com/article/top-50-node-js-interview-questions-and-answers/?utm_content=buffer67ab3&utm_medium=social&utm_source=linkedin.com&utm_campaign=buffer">50 node interview ques</a>
</p>

<h4>GENERAL CODING</h4>

<p>
  <a href="http://martinfowler.com/bliki/PageObject.html">Testing the PageObject</a>
  <a href="https://vimeo.com/85490944">Spotify engineering culture</a>
  (the below is a great full stack overview article, not just rails vs node!)
  <a href="http://blog.thefirehoseproject.com/posts/nodejs-vs-rails/?utm_source=quora&utm_medium=quora_ken_answers&utm_campaign=quora_answers">FS article and Rails vs. Node</a>
  <a href="https://medium.com/@kenmazaika/29-behaviors-that-will-make-you-an-unstoppable-programmer-8778941d80f7#.3ltsbf6sj">29 developer behaviours</a>
  <a href="https://medium.com/@cscalfani/goodbye-object-oriented-programming-a59cda4c0e53#.6285znait">Goodbye, Object Oriented Programming</a>
</p>

<h4>ANGULAR</h4>

<p>
  <a href="http://code.tutsplus.com/tutorials/creating-a-web-app-from-scratch-using-angularjs-and-firebase--cms-22391">Angular and Firebase tutorial</a>
</p>

<h4>GENERAL FE (Good so read this!)</h4>

<p>
  <a href="https://addyosmani.com/">Addy Osmani - various articles and books</a>
  <a href="http://creative-punch.net/2014/03/tools-modern-front-end-workflow-yeoman-grunt-bower/?utm_content=buffer5d9cc&utm_medium=social&utm_source=linkedin.com&utm_campaign=buffer">Modern FE dev tools (grunt, yoeman etc)</a>
  <a href="http://up-for-grabs.net/#/">List of open source projects toget nvolved in</a>
</p>

<h4>OAUTH</h4>

<p>
  <a href="https://hueniverse.com/oauth/guide/intro/">oauth guide</a>
  <a href="https://tools.ietf.org/html/rfc6749#section-4.3">oauth 2.0</a>
</p>

<h4>EMBER</h4>

<p>
http://emberigniter.com/5-essential-ember-2.0-concepts/
https://emberigniter.com/modern-bridge-ember-and-rails-5-with-json-api/
https://www.twilio.com/blog/2015/08/getting-started-with-ember-js-2-0-using-ember-cli.html
http://emberigniter.com/
https://ember-twiddle.com/
https://blog.embermap.com/my-ember-js-tdd-workflow-47847c6dbdfa#.o8phg6ugd
https://til.hashrocket.com/emberjs
http://balinterdi.com/
https://ember-cli.com/api/
https://medium.com/@ruslanzavacky/ember-cli-fingerprinting-and-dynamic-assets-797a298d8dc6#.5t76lweh5
https://madhatted.com/2013/6/8/lifecycle-hooks-in-ember-js-views
https://mariogintili.svbtle.com/acceptance-testing-ember-cli
https://www.mutuallyhuman.com/blog/2016/08/12/an-ember-debugging-flowchart?utm_source=Ember+Weekly&utm_campaign=365b3cb3ef-Ember_Weekly_Issue_172&utm_medium=email&utm_term=0_e96229d21d-365b3cb3ef-106363253
https://blog.embermap.com/good-ember-developer-bad-ember-developer-7f9d52c6a0b5#.t2p2xemek
http://www.nathanhammond.com/route-recognizer
https://dockyard.com/blog/2016/09/14/understanding-ember-s-resolver
https://blog.embermap.com/passing-data-around-your-ember-application-c4fe1e06e90#.jmul0ih8k
https://github.com/DockYard/ember-composable-helpers#compute
NOTE: DOCKYARD HAVE GOOD EMBER RESOURCES!
</p>

<h4>HTML/CSS</h4>

<p>
https://medium.com/re-dom/master-the-dom-bc1a2a06089b#.k2tiez6g6
</p>
